{% extends "base.html" %}

{% block title %}Asistencias Diarias - Gestor FIUBA{% endblock %}

{% block content %}
<div class="header-acciones">
    <div class="header-titulos">
        <h2>Control de Asistencia Diaria</h2>
        <p>Listado de alumnos y su estado para la clase seleccionada</p>
    </div>

    <form action="{{ url_for('asistencia.generar') }}" method="POST" class="form-enlinea">
    <button type="submit" class="btn-primario btn-exito btn-auto">
        Enviar QRs del Día
    </button>
</form>
</div>

<div class="card-filtros">
    <form method="GET" action="{{ url_for('asistencia.fecha_clase') }}" class="form-filtros-flex">
        <div class="form-group form-group-flex">
            <label for="filtro_fecha">Seleccionar Fecha de Clase:</label>
            <input type="date" id="filtro_fecha" name="fecha" value="{{ fecha_actual }}" class="select-filtro">
        </div>
        <button type="submit" class="btn-primario btn-auto">Ver Asistencias</button>

        <a href="{{ url_for('asistencia.fecha_clase') }}" class="btn-primario btn-secundario btn-auto texto-centrado">Ir a Hoy</a>
    </form>
</div>

<div class="tabla-responsive">
    <table class="tabla-auditoria">
        <thead>
            <tr>
                <th>Padrón</th>
                <th>Alumno</th>
                <th>Email</th>
                <th class="texto-centrado">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td class="td-usuario">{{ alumno.padron }}</td>
                <td> {{ alumno.apellido }} {{ alumno.nombre }}</td>
                <td class="td-detalle">{{ alumno.email }}</td>

                <td class="texto-centrado">
                    {% if alumno.presente == 1 %}
                        <span class="badge badge-verde">Presente</span>
                    {% else %}
                        <span class="badge badge-gris">Ausente</span>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="td-mensaje-vacio">No hay alumnos registrados en el curso.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}