<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor Universitario FIUBA{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="/" class="navbar-logo">Sistema FIUBA</a>
        <ul>
        <li><a href="{{ url_for('auth.login') }}" class = "btn-navbar-login">Iniciar Sesión</a></li>

        <li><a href="{{ url_for('auth.registro') }}" class="btn-navbar-login">Crear Cuenta</a></li>

        <li><a href="{{ url_for('auth.logout') }}" class="btn-navbar-login">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <main class="contenedor">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="pie-pagina">
        <div class="footer-contenido">
            <p class="contenido-footer">2026 Sistema FIUBA - Gestión de Cursos.</p>
        </div>
    </footer>
</body>
</html>